@import "../../../styles/variables.scss";

.input-wrapper{
    color: $text-color;
    font-size: 16px;
    text-align: start;

    label{
        margin-bottom: 10px;
    }

    .input-content{
        width: 100%;
        border-radius: 8px;
        display: flex;

        .icon{
            padding: 12px;
            background-color: #125b61;
            border-radius: 0 8px 8px 0;

            img {
                height: 20px;
            }

        }

        input{ 
            border: none;
            background-color: rgb(235, 235, 235);
            padding: 12px 0 12px 20px;
            border-radius: 8px 0 0 8px;
            width: 100%;
        }
    }

    
}