
$primary-color: #7001fd;
$text-color: #555555;
$secondary-color: #1e2772;
$gray-bg: #eeeeee;
$gray-secondary-bg: #f1f3f6;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
}