span{
    font-size: 14px;
}
@import "../../../styles/variables.scss";

form {
    width: 80%;  // Reduzir a largura do formulário para 80%
    max-width: 400px;  // Definir uma largura máxima
    display: flex;
    flex-direction: column;
    gap: 16px;  // Diminuir o espaçamento entre os elementos
    margin-bottom: 20px;  // Ajustar a margem inferior

    span {
        font-size: 14px;
        text-decoration: underline;
        color: #4169E1;
        text-align: end;
    }
}