.container {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Poppins, sans-serif;

  h1 {
    text-align: center;
    color: #00b76f;
    margin-bottom: 25px;
  }
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 10px;
}

.section {
  width: 50%;
  display: flex;
  flex-direction: column;

  h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: black;
  }

  label {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 14px;
  }

  input,
  textarea {
    padding: 6px;
    border: 1px solid #999;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.input-with-button {
  display: flex;
  gap: 10px;
  align-items: center;

  input {
    flex: 1;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 6px;
    font-size: 14px;
  }

  .btn-ok,
  .btn-editar {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
  }

  .btn-ok {
    background-color: #ff5a5a;
    color: #fff;

    &:hover {
      background-color: #ff3b3b;
    }
  }

  .btn-editar {
    background-color: #eee;
    color: #333;

    &:hover {
      background-color: #ddd;
    }
  }
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;

  button {
    padding: 7px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 14px;
  }

  .salvar {
    background-color: #ff5a5a;
    color: white;

    &:hover {
      background-color: #ff3b3b;
    }
  }

  .cancelar {
    background-color: #eee;

    &:hover {
      background-color: #ddd;
    }
  }
}

/* Responsivo */
@media (max-width: 900px) {
  .container {
    width: 100%;
    padding: 15px;
  }

  .form-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .section {
    width: 100%;
  }
}
