<app-layout>
  <div class="content">

    <div class="card">
      <div class="card-header">
        <h2>Lista de Monólitos</h2>
        <div class="spaceflex">
          <button mat-raised-button class="btn-nova" (click)="abrirCadastroMonolito()">
            Novo Monólito
          </button>
        </div>
      </div>

      <div class="search-bar">
        <input
          matInput
          placeholder="Pesquisar monólito..."
          [(ngModel)]="searchTerm"
          (input)="aplicarFiltro($event)" />
        <i class="fa fa-search"></i>
      </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="stationFieldNumber">
          <th mat-header-cell *matHeaderCellDef> Station Field Number </th>
          <td mat-cell *matCellDef="let m"> {{ m.stationFieldNumber }} </td>
        </ng-container>

        <ng-container matColumnDef="profundidadeSolo">
          <th mat-header-cell *matHeaderCellDef> Profundidade </th>
          <td mat-cell *matCellDef="let m"> {{ m.profundidadeSolo }} </td>
        </ng-container>

        <ng-container matColumnDef="collector">
          <th mat-header-cell *matHeaderCellDef> Coletor </th>
          <td mat-cell *matCellDef="let m"> {{ m.collector }} </td>
        </ng-container>

        <ng-container matColumnDef="dataColeta">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let m"> {{ formatarData(m) }} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let m" class="acoes-cell">
            <button mat-icon-button color="primary" matTooltip="Ver Taxonomia">
              <mat-icon>account_tree</mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="Editar" >
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Excluir" (click)="excluirMonolito(m)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div class="pagination">
        <span>Itens por página:</span>
        <select [(ngModel)]="itensPorPagina" (change)="alterarItensPorPagina()">
          <option *ngFor="let qtd of [5,10,20]" [value]="qtd">{{ qtd }}</option>
        </select>
        <span>{{ dataSource.filteredData.length }} total</span>
      </div>

      <mat-paginator #paginator [pageSize]="itensPorPagina" [pageSizeOptions]="[5,10,20]" style="display:none"></mat-paginator>
    </div>

    <router-outlet></router-outlet>
  </div>
</app-layout>