<form [formGroup]="formEspecie" class="container">

  <h1>{{ isEditMode() ? 'Editar' : 'Adicionar' }} Espécie</h1>

  <div class="form-wrapper">

    <div class="section">
      <h3>Dados Gerais</h3>

      <label>Nome Popular:</label>
      <input type="text" formControlName="nome" />

      <label>Nome Científico:</label>
      <input type="text" formControlName="nomeCientifico" readonly class="input-readonly" />

      <label>Ano:</label>
      <input type="number" formControlName="ano" />

      <label>Descrição:</label>
      <textarea rows="6" formControlName="descricao"></textarea>
    </div>
 
    <div class="section">
      <h3>Taxonomia</h3>

      <label>Reino:</label>
      <select formControlName="reinoId" (change)="onSelectChange($event, 'reino')">
        <option value="">Selecionar...</option>
        <option *ngFor="let r of reinos" [value]="r.id">{{ r.nome }}</option>
        <option value="outro">Outro...</option>
      </select>
      <input *ngIf="mostrarInput.reino" type="text" formControlName="reinoNome" placeholder="Digite o nome do novo Reino" class="input-novo" />

      <label>Filo:</label>
      <select formControlName="filoId" (change)="onSelectChange($event, 'filo')">
        <option value="">Selecionar...</option>
        <option *ngFor="let r of filos" [value]="r.id">{{ r.nome }}</option>
        <option value="outro">Outro...</option>
      </select>
      <input *ngIf="mostrarInput.filo" type="text" formControlName="filoNome" placeholder="Digite o nome do novo Filo" class="input-novo" />

      <div class="label-row">
        <label>Classe:</label>
        <div class="acoes">
          <span class="icone-add" (click)="toggleMenuSub('classe')">{{ menuAberto === 'classe' ? '-' : '+' }}</span>
          <select class="select-menu" *ngIf="menuAberto === 'classe'" (change)="ativarSubgrupo($event)" class="select-menu">
            <option value="">Adicionar...</option>
            <option value="subclasse">Subclasse</option>
            <option value="infraclasse">Infraclasse</option>
          </select>
        </div>
      </div>
      <select formControlName="classeId" (change)="onSelectChange($event, 'classe')">
        <option value="">Selecionar...</option>
        <option *ngFor="let r of classes" [value]="r.id">{{ r.nome }}</option>
        <option value="outro">Outro...</option>
      </select>
      <input *ngIf="mostrarInput.classe" type="text" formControlName="classeNome" placeholder="Nova Classe" class="input-novo" />

      <div class="sub-campo" *ngIf="mostrarSub.subclasse">
        <div class="sub-label">Subclasse: <span class="icone-add" (click)="removerSubgrupo('subclasse')">-</span></div>
        <input type="text" formControlName="subclasseNome" placeholder="Nome da Subclasse">
      </div>
      <div class="sub-campo" *ngIf="mostrarSub.infraclasse">
        <div class="sub-label">Infraclasse: <span class="icone-add"(click)="removerSubgrupo('infraclasse')">-</span></div>
        <input type="text" formControlName="infraclasseNome" placeholder="Nome da Infraclasse">
      </div>

      <div class="label-row">
        <label>Ordem:</label>
        <div class="acoes">
          <span class="icone-add" [class.aberto]="menuAberto === 'ordem'" (click)="toggleMenuSub('ordem')">{{ menuAberto === 'ordem' ? '-' : '+' }}</span>
          <select class="select-menu" *ngIf="menuAberto === 'ordem'" (change)="ativarSubgrupo($event)" class="select-menu">
            <option value="">Adicionar...</option>
            <option value="subordem">Subordem</option>
            <option value="infraordem">Infraordem</option>
            <option value="parvordem">Parvordem</option>
          </select>
        </div>
      </div>
      <select formControlName="ordemId" (change)="onSelectChange($event, 'ordem')">
        <option value="">Selecionar...</option>
        <option *ngFor="let r of ordens" [value]="r.id">{{ r.nome }}</option>
        <option value="outro">Outro...</option>
      </select>

      <input *ngIf="mostrarInput.ordem" type="text" formControlName="ordemNome" placeholder="Digite o nome da nova Ordem" class="input-novo" />

      <div class="sub-campo" *ngIf="mostrarSub.subordem">
      <div class="sub-label">Subordem: 
        <span class="icone-add" (click)="removerSubgrupo('subordem')">-</span></div>
        <input type="text" formControlName="subordemNome">
      </div>
      <div class="sub-campo" *ngIf="mostrarSub.infraordem">
      <div class="sub-label">Infraordem: <span class="icone-add" (click)="removerSubgrupo('infraordem')">-</span></div>
       <input type="text" formControlName="infraordemNome">
      </div>
      <div class="sub-campo" *ngIf="mostrarSub.parvordem">
        <div class="sub-label">Parvordem: <span class="icone-add" (click)="removerSubgrupo('parvordem')">-</span></div>
        <input type="text" formControlName="parvordemNome">
      </div>

      <div class="label-row">
        <label>Família:</label>
        <span class="icone-add" (click)="toggleSub('familia')">{{ mostrarSub.familia ? '-' : '+' }}</span>
      </div>
      <select formControlName="familiaId" (change)="onSelectChange($event, 'familia')">
        <option value="">Selecionar...</option>
        <option *ngFor="let r of familias" [value]="r.id">{{ r.nome }}</option>
        <option value="outro">Outro...</option>
      </select>
      <input *ngIf="mostrarInput.familia" type="text" formControlName="familiaNome" placeholder="Digite o nome da nova Família" class="input-novo" />
      <div class="sub-campo" *ngIf="mostrarSub.familia">
        <label>Subfamília:</label>
        <input type="text" formControlName="subfamiliaNome" placeholder="Nome da Subfamília">
      </div>

      <div class="label-row">
        <label>Gênero:</label>
        <span class="icone-add" (click)="toggleSub('genero')">{{ mostrarSub.genero ? '-' : '+' }}</span>
      </div>
      <select formControlName="generoId" (change)="onSelectChange($event, 'genero')">
        <option value="">Selecionar...</option>
        <option *ngFor="let r of generos" [value]="r.id">{{ r.nome }}</option>
        <option value="outro">Outro...</option>
      </select>
      <input *ngIf="mostrarInput.genero" type="text" formControlName="generoNome" placeholder="Digite o nome do novo Gênero" class="input-novo" />
      <div class="sub-campo" *ngIf="mostrarSub.genero">
        <label>Subgênero:</label>
        <input type="text" formControlName="subgeneroNome" placeholder="Nome do Subgênero">
      </div>

      <div class="label-row">
        <label>Epiteto:</label>
      </div>
      <select formControlName="epitetoId" (change)="onSelectChange($event, 'epiteto')">
        <option value="">Selecionar...</option>
        <option *ngFor="let r of epitetos" [value]="r.id">{{ r.nome }}</option>
        <option value="outro">Outro...</option>
      </select>
      <input *ngIf="mostrarInput.epiteto" type="text" formControlName="epitetoNome" placeholder="Digite o nome do novo Epiteto" class="input-novo" />
    </div>
  </div>

  <div class="buttons">
    <button class="salvar" type="button" (click)="salvarEspecie()" [disabled]="saving">
      {{ saving ? 'Salvando...' : 'Salvar' }}
    </button>
    <button class="cancelar" type="button" (click)="fechar()">Cancelar</button>
  </div>

</form>
 
